:root {
    --primary-color: #1F1F1F;
    --secondary-color: #333333;
    --red-color: #E65F78;
    --white-color: #FFFFFF;
    --primary-font: "Open Sans";
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--primary-font), sans-serif;
    background-color: var(--secondary-color);
    color: var(--white-color);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* header */
.header {
    background-color: var(--primary-color);
    height: 100px;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}
.header__logo {
    width: 50px;
    height: 50px;
}
.header__nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
}
.header__nav-item {
    font-size: 1em;
    padding: 10px;
}
/* e: header  */

/* main  */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--primary-color);
    height: 924px;
    gap: 100px;
    padding: 255px 150px;
}
.main__content {
    display: flex;
    align-items: center;
    gap: 50px;
}
.main__image {
    width: 150px;
    height: 150px;
}
.main__title {
    font-size: 4.5em;
    font-weight: 800;
    line-height: 110%;
}
.last-name {
    color: var(--red-color);
}
.main__description {
    font-size: 1.5em;
    margin-top: 15px;
}
.main__arrow {
    width: 32px;
    height: 32px;
    margin-top: 200px;
}
/* e:main  */

/* footer */
.footer__contact {
    background-color: var(--secondary-color);
    padding: 0 120px;
    gap: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__title {
    font-size: 3em;
    font-weight: 800;
    margin-top: 90px;
}
.footer__text {
    font-size: 1.25em;
    text-align: center;
    max-width: 544px;
}
.footer__button {
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 8px 14px;
    font-size: 1em;
    font-weight: 600;
    line-height: 170%;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}